
# Ignorar dependências
node_modules/

# Ignorar build gerado
dist/

# Ignorar arquivos de ambiente
.env
.env.local

# Ignorar log de erros
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar cache
.cache/
.vite/

# Ignorar diretórios do sistema
.DS_Store
Thumbs.db

# Ignorar VSCode settings (opcional)
.vscode/
